<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>starwars.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1E306341FB9408100BF8606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1E3064C1FB9408200BF8606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1E306571FB9408200BF8606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
